.navbar{
    background: #F5F7FA;
}
.common-button a{
    background: #4CAF4F;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    font-family: "Inter", serif;
    text-decoration: none;
    border-radius: 6px;
    margin-left: 10px;
    border: 1px solid transparent;
    transition: .5s;

}

.common-button a:hover{
    color: #4CAF4F;
    border: 1px solid black;
    background: white;
}
.navbar-nav{
    column-gap: 50px;

}
.nav-link {
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 400;
    color: #18191F;
    margin: 0 !important;
    padding: 0 !important;

}
/* -------navbar end------ */


.banner{
    margin-top: 100px;
    background: #F5F7FA;
    margin-bottom: 96px;
}
.banner .col-lg-7 h1{
    width: 660px;
    height: 150px;
    font-family: "Inter", serif;
    font-size: 64px;
    font-weight: 600;
    color: #4D4D4D;
    margin-bottom: 16px;
}
.banner .col-lg-7 h1 span{
    color: #4CAF4F;
}
.banner .col-lg-7 p{
    color: #717171;
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}
.banner .col-lg-7 a{
    background: #4CAF4F;
    padding: 14px 32px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    font-family: "Inter", serif;
    text-decoration: none;
    border-radius: 6px;
    margin-left: 10px;
    border: 1px solid transparent;
    transition: .5s;

}
.banner .col-lg-7 a:hover{
    color: #4CAF4F;
    border: 1px solid black;
    background: white;

}
.banner .col-lg-5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .col-lg-5 img{
    width: 390px;
    height: 407px;
}

/* ---------clint part----- */
.clint{
    margin-bottom: 40px;
}
.clint h1{
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 600;
    color: #4D4D4D;
    text-align: center;
    margin-bottom: 10px;
}
.clint p{
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 400;
    color: #4D4D4D;
    text-align: center;

}
.clint .icon{
    width: 1152px;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-around;

}
.clint .icon img{
    width: 48px;
    height: 48px;
    margin: 25px 0px;
    column-gap: 135px;
}

/* ---comunity--- */

.comunity h1{
    width: 545px;
    height: 90px;
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 600;
    color: #4D4D4D;
    text-align: center;
    margin: 0 auto;

}
.comunity p{
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 400;
    color: #717171;
    text-align: center;
    margin: 0 auto;

}

/* ------3 collum------- */
.colum{
    margin-top: 16px;
    margin-bottom: 45px;
}
.colum .col-lg-4{
    column-gap: 36px;
    display: flex;
}
.colum .card{
    width: 363px;
    height: 280px;
    border: none !important;
    -webkit-box-shadow: 0px 7px 15px 0px rgba(0,10,187,0.54);
-moz-box-shadow: 0px 7px 15px 0px rgba(0,10,187,0.54);
box-shadow: 0px 7px 15px 0px rgba(0,10,187,0.54);
    
    
}
.card .card-img-top{
    width: 48px;
    height: 48px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}
.card .card-title{
    width: 303px;
    height: 72px;
    font-size: 28px;
    font-family: "Inter", serif;
    font-weight: 700;
    color: #4D4D4D;
    text-align: center;
    margin-bottom: 8px;
}
.card .card-text{
    width: 303px;
    height: 60px;
    font-size: 14px;
    font-family: "Inter", serif;
    font-weight: 400;
    color: #717171;
    text-align: center;
    margin-bottom: 42px;
}

/* ---pixel----- */
.pixel{
    margin-top: 52px;
    margin-bottom: 52px;
}
.pixel .col-lg-5 img{
    width: 441px;
    height: 329px;
    margin-top: 52px;

}
.pixel .col-lg-7 h1{
    width: 540px;
    height: 88px;
    font-size: 36px;
    font-family: "Inter", serif;
    font-weight: 600;
    color: #4D4D4D;
    margin-bottom: 16px;
    margin-top: 82px;
}
.pixel .col-lg-7 p{
    width: 601px;
    height: 80px;
    font-size: 14px;
    font-family: "Inter", serif;
    font-weight: 400;
    color: #717171;
    margin-bottom: 32px;
    text-align: left;
}
.pixel .col-lg-7 a{
    background: #4CAF4F;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    font-family: "Inter", serif;
    text-decoration: none;
    border-radius: 6px;
    margin-left: 10px;

    border: 1px solid transparent;
    transition: .5s;

}
.pixel .col-lg-7 a:hover{
    color: #4CAF4F;
    border: 1px solid black;
    background: white;
}


/* ----details---- */

.details{
    margin: 48px 0px;
    background: #F5F7FA;
}
.details .col-lg-6{
    margin: 84px 0px;
}
.details .col-lg-6 h1{
    color: #4D4D4D;
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 600;
    width: 380px;
    height: 88px;
    margin-bottom: 7px;
}
.details .col-lg-6 h1 span{
    color: #4CAF4F;
}
.details .col-lg-6 p{
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 400;
    color: #18191F;
}
.details .rs{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 47%;
    height: 100px;
    column-gap: 54px;
    row-gap: 10px;
    margin: 64px 0px;
}
.details .payment-box{
    display: flex;
}
.details .payment-box img{
    width: 48px;
    height: 48px;
    margin-top: 15px;
    margin-right: 15px;
}
.details .payment-box h2{
    font-size: 28px;
    font-weight: 700;
    color: #4D4D4D;
    font-family: "Inter", serif;
}
.details .payment-box P{
    font-size: 16px;
    font-weight: 400;
    color: #717171;
    font-family: "Inter", serif;
}

<!-- -------pixel replace -->

.pixel .rahul{
    margin-top: 50px;
}



/* --------smith--------- */

.smith{
    margin: 48px 0px;
}
.smith .col-lg-4 img{
    margin: 32px 0px;
    width: 326px;
    height: 326px;
}
.smith .col-lg-8 p{
    margin-top: 33px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    color: #717171;
    font-family: "Inter", serif;
    width: 748px;
    height: 166px;
}
.smith .col-lg-8 h2{
    font-size: 20px;
    font-weight: 600;
    color: #4CAF4F;
    font-family: "Inter", serif;
    margin-bottom: 8px;
}
.smith .col-lg-8 h4{
    font-size: 16px;
    font-weight: 400;
    color: #89939E;
    font-family: "Inter", serif;
    margin-bottom: 32px;
}
.smith .col-lg-8 .visit{
    display: flex;
}
.smith .col-lg-8 .visit .col-lg-1  p{
    font-size: 20px;
    font-weight: 600;
    color: #4CAF4F;
    font-family: "Inter", serif;
    margin-top: 10px;
    margin-left: 81px;

}

/* <!-- ----merketing----- --> */

.merketing{
    margin-bottom: 94px;
}
.merketing .text h1{
    font-size: 36px;
    font-weight: 600;
    color: #263238;
    font-family: "Inter", serif;
    text-align: center;
    margin-bottom: 8px;

}
.merketing .text p{
    font-size: 16px;
    font-weight: 400;
    color: #717171;
    font-family: "Inter", serif;
    text-align: center;
    width: 628px;
    height: 72px;
    margin: 0 auto;
}
.merketing .row .col-lg-4{
    width: 100%;
    height: 100px;
    background: red;
}